.bodied {
    background-color: #FEF0F2;
    color: #1A1A1A;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}


.BODY {
    background-color: white;
    box-shadow: 0px 4px 25px #888;
    /* filter: blur(6px); */
    border-radius: 10px;
    color: #595959;
    font-size: 16px;

}

.logo {
    text-align: center;
    color: #E60A2B;
    font-size: larger;
    font-weight: bolder;
}

.the_logo {
    padding: 20px;
}

.first {
    padding-bottom: 50px;
    width: 100%;

}

@media screen and (min-width: 500px) {
    .first {
    width: 85%;}
}


.container {
    background-color: white;
    display: flex;
    justify-content: center;

}


.image {
    background-color: #FEF0F2;
    display: flex;
    justify-content: center;
    height: 120px;
}


.icons {
    padding: 10px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.flex {
    display: flex;
    gap: 8px;
}

@media screen and (min-width: 500px) {
    .flex {
    gap: 20px;}
}

button {
    background-color: #E60A2B;
    height: 40px;
    width: 90%;
    border-radius: 40px;
    color: white;
    border-color: #E60A2B;

}

.copyright {
    color: #595959;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

span {
    font-weight: 600;
}

a{
    color: #595959;
}

.endpoint{
    width: 80%;
}