.bodied {
    background-color: #FEF0F2;
    color: #1A1A1A;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 25px;
    font-style: normal;

}

.BODY {
    background-color: white;
    box-shadow: 0px 4px 25px #888;
    /* filter: blur(6px); */
    border-radius: 10px;
    font-weight: 400;
    line-height: 25px;
    font-style: normal;
}

.logo {
    text-align: center;
    color: #E60A2B;
    font-size: larger;
    font-weight: bolder;
    /* padding: 40px; */
}

.the_logo {
    padding: 20px;
}


.first {
    padding-bottom: 50px;
    width: 100%;

}

@media screen and (min-width: 500px) {
    .first {
        width: 85%;
    }
}

.text {
    font-size: 14px;
}

.two-columns {
    display: flex;

}

.first-column {
    width: 50%;
    vertical-align: top;
    text-align: center;
}

.second-column {
    width: 50%;
    vertical-align: top;
    text-align: center;
}

.price {
    display: flex;
    justify-content: center;
}

.tdd {
    border: black solid 1px;
    padding: 5px;
}

.x1 {
    padding: 10px;
    border: black solid 1px;
    border-radius: 70px;
    font-size: 9px;
    color: #E60A2B;
    border-color: #4D4D4D1A;
}

.icons {
    border-bottom: 1px solid #EDEDED;
}

.icons {
    padding: 10px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}


.flex {
    display: flex;
    gap: 8px;
}

@media screen and (min-width: 500px) {
    .flex {
        gap: 20px;
    }
}

.copyright {
    color: #595959;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .fees {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

p {
    font-weight: 400;
}